[defaults]
collections_path = /usr/share/ansible/collections
host_key_checking = True
interpreter_python = auto_silent
local_tmp = /tmp/ansible-local
retry_files_enabled = False
forks = 20
timeout = 30

[inventory]
enable_plugins = host_list, script, auto, yaml, ini, toml

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ServerAliveInterval=30
control_path_dir = /tmp/ansible-local/cp

[persistent_connection]
connect_timeout = 30
command_timeout = 60
